<section class="newsletter" id="newsletterid">
    <div class="container headings text-center">
        <h2 class="text-center text-uppercase font-weight-bold">subscribe to our newsletter</h2>

    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control emailtext" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Subscribe</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footersection">
    <div class="container">
        <div class="row footer-row">
            <div class="col-lg-4 col-md-6 col-12 footerdiv  ">
                <h3>ABOUT THAPATECHNICAL</h3>
                <p>the world has It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more

                </p>

            </div>
            <div class="col-lg-4 col-md-6 col-12  footerdiv text-center footerdiv2 ">
                <h3>navigation links</h3>
                <li><a href="#">home</a></li>
                <li><a href="#">service</a></li>
                <li><a href="#">price</a></li>
                <li><a href="#">about</a></li>



            </div>
            <div class="col-lg-4 col-md-6 col-12  footerdiv">
                <h3>newsletter</h3>
                <p>the world has readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more

                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group ">
                            <input type="text" class="form-control emailtext" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Subscribe</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="mb-4 mt-5">
        <p class="text-center text-white pt-3" style="font-size: 1rem;">Copy Right @2020 All rights reserved ! this Temperature is module with love ThapaTechanical</p>

    </div>
</section>