<section class="project-work">
    <div class="container headings text-center">
        <p class="text-center font-weight-bold text-uppercase">MORE than 2000 Website created</p>

    </div><br>
    <div class="container d-flex justify-content-around align-items-center">
        <div class="count-text">
            <a href="#">
                <h1 class="counter">1500</h1>
                <p>CMS Installation</p>
            </a>
        </div>
        <div class="count-text">
            <a href="#">
                <h1 class="counter">2500</h1>
                <p>Awards won</p>
            </a>
        </div>
        <div class="count-text">
            <a href="#">
                <h1 class="counter">700</h1>
                <p>Happy Clients</p>
            </a>
        </div>
        <div class="count-text">
            <a href="#">
                <h1 class="counter">500</h1>
                <p>Working On</p>
            </a>
        </div>

    </div>
    <script type="text/javascript" src="C:\Users\Education\myweb\src\assets\jsfile\counter.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script>

</section>