<section class="clients container">
    <div class=" text-center">
        <h1 class="text-center font-weight-bold text-uppercase ">our happy clients </h1>
        <p style="margin-bottom: 50px;">Our Satisfied Customer Says</p>

    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-4  col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4  col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4  col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="carousel-item ">
                <div class="row ">
                    <div class="col-lg-4 col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4  col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4  col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <div class="box text-center">
                            <a href="#">

                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4  col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4  col-12">
                        <div class="box text-center">
                            <a href="#">
                                <div class="d-flex justify-content-center">
                                    <div class="img-fluidi img-thumbnail pic">
                                    </div>
                                </div>
                                <p class="m-4">loren ipsum dolor sit smet,consector adipisicing elit,sed do eiusmod tempor incident ut labor et sdolor sliqua</p>
                                <h1>KANHAIYA</h1>
                                <h2>Web developer</h2>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <a style="position: absolute;margin-left: -100px;" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a style="position: absolute;margin-right: -100px;" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>