<section class="pricing" id="pricingdiv">
    <div class="headings text-center">
        <h1 class="text-center font-weight-bold text-uppercase text-white " style="margin-bottom: 40px;margin-top: -20px;">our best pricing</h1>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 align-items-center">
                <div class="card text-center">
                    <div class="card-header">BASIC
                    </div>
                    <div class="card-body">
                        <div class="body-text">
                            <li>$<span class="money">20</span>/website</li>
                            <li>Responsive Website</li>
                            <li>Domain Namo Froo</li>
                            <li>Mobile Friendly</li>
                            <li>Webmail Support</li>
                            <li>Cuctomer Support</li>

                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#">PURCHASE</a>

                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-12 ">
                <div class="card card2 text-center">
                    <div class="card-header">STABDARD
                    </div>
                    <div class="card-body">
                        <div class="body-text">
                            <li>$<span class="money">40</span>/website</li>
                            <li>Responsive Website</li>
                            <li>Domain Namo Froo</li>
                            <li>Mobile Friendly</li>
                            <li>Webmail Support</li>
                            <li>Cuctomer Support</li>

                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#">PURCHASE</a>

                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-12">
                <div class="card text-center">
                    <div class="card-header">UNLIMITED
                    </div>
                    <div class="card-body">
                        <div class="body-text">
                            <li>$<span class="money">60</span>/website</li>
                            <li>Responsive Website</li>
                            <li>Domain Namo Froo</li>
                            <li>Mobile Friendly</li>
                            <li>Webmail Support</li>
                            <li>Cuctomer Support</li>

                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#">PURCHASE</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>