<div class="header" id="topheader">


    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="text-uppercase container p-2">


            <a class="navbar-brand text-white font-weight-bold pl-5" href="#">KANHAIYA</a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
              </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servicediv">service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricingdiv">price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newsletterid">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactusid">contact</a>
                    </li>


                </ul>

            </div>

        </div>
    </nav>
    <section class="header-section">
        <div class="center-div">
            <h1 class="font-weight-bold">We are The Web Developer
            </h1>
            <p>We Create the World best Website</p>
            <div class="header-buttons">
                <a href="#newsletterid">AboutUs</a>
                <a href="#contactusid">Contacts</a>

            </div>
        </div>
    </section>
</div>