<section class="header-extradiv">
    <div class="container">
        <div class="row">
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-3x fa fa-desktop" aria-hidden="true"></i></a>
                <h2 style="padding-top: 15px;">EASY TO USE</h2>
                <p>loren ipsum dolor sit amt ,constent kanhaiya klabv adispinf erjnnjf jghd jknkd fkjf</p>

            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-3x fa fa-trophy" aria-hidden="true"></i></a>
                <h2 style="padding-top: 15px;">AWESOME DESIGN</h2>
                <p>loren ipsum dolor sit amt ,constent kanhaiya klabv adispinf erjnnjf jghd jknkd fkjf</p>

            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-3x fa fa-magic" aria-hidden="true"></i></a>
                <h2 style="padding-top: 15px;">EASY TO CUSTOMIZE</h2>
                <p>loren ipsum dolor sit amt ,constent kanhaiya klabv adispinf erjnnjf jghd jknkd fkjf</p>

            </div>


        </div>


    </div>

</section>